body {
    font-family: 'Montserrat';
    text-align: center;
}

/* Headers */

h2, h3 {
    font-weight: bold;
    margin-bottom: 3%;
}

/* Containers */

.container-fluid {
    padding: 7% 10%;
}

/* Links */

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: grey;
}

/* Title */

#title {
    background: #FF4C68;
    color: #fff;
    text-align: left;
}

.title-image-container {
    width: 20rem;
    margin-left: 8%;
}

.title-image {
    border-top-left-radius: 2.9rem;
    border-top-right-radius: 2.9rem;
    border-bottom-left-radius: 2.9rem;
    border-bottom-right-radius: 2.9rem;
    transform: rotate(15deg);
    padding: 0;
    width: 80%;
}

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color:#FFFBCB;
    color:grey;
}

.btn {
    font-size: 0.9rem;
}

.download-button {
    margin: 5% 3% 5% 0; 
}

/* Navbar */

.navbar {
    padding: 0 0 3.5rem;
    background-color: #FF4C68;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
}

/* Features */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

/* Carousel */

.carousel-item {
    padding: 7% 15%;
    text-align: left;
}

.carousel-img {
    float: left;
    padding: 0;
    margin-right: 3%;
}

#events-carousel {
    background-color: #228C7B;
    color: #fff;
}

/* CTA */

#cta {
    /* background-color:#F6F3A7; */
    padding: 3%;
    background-color: #FF4C68;
    color: #fff;
    text-align: center;
}

/* Footer */

.footer-button-container {
    margin: 0 25%;
}

#footer {
    padding-top: 1%;
    font-size: 0.8rem;
}